body {
font-family: inter;
} 
.navbar div{
    text-align: center;
    font-family: inter;
}

.navbar {
    background-color: black;
    font-size: 14px;
    font-weight: 900;
    font-family: inter;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 100%;
       
}
.logo {
    font-weight: 900;
    font-size: 30px;
    color: white;
    padding-right: 15%;
    margin-right: 10%;
    margin-bottom: 1%;
}
.navbar .h1 {
    margin-right: 1.5%;
} 
.h1 u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
.contactus{
    margin-right: 26%;  
}
.login {
    padding-right: 3%;
}

.getstarted {
   background-color: #ED661F;
   padding-top: 11px;
   padding-bottom: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 1%;   
}
.backgroundimage {
    height: 550px;
    width: 1200px
}
.backgroundimage {
    background-image: url(../Images/background.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 .backgroundimage {
    margin-left: 3%;     
}
.backgroundimage img {
    height: 300px;
    float: right;
}
.backgroundimage .buy{
    font-size: 50px;
    font-weight: 1000;
    padding-top: 70px;
    margin-bottom: 1%;
        
}
.backgroundimage .agri {
    width: 550px;
    font-size: 19px;
    margin-bottom: 2%;  
}
.backgroundimage .explore a {
    font-weight: 900;
    display: inline-block;
    padding: 25px;
    font-size: 24px;
    background-color: #ED661F;
    color: white; 
    margin-bottom: 4%; 
    text-decoration: #ED661F;
}
.verified {
    width: 500px;
    font-size: 14px;
    text-align: center;
    font-weight:550;
    height: 80px;
    display: inline-block;
    padding-left: 20%;
    padding-top: 3%;
    padding-right: 3%;
    float: right;
    margin-right: 10%;
    background-color: white;
    margin-left: 10%;
    padding-bottom: 6%;

}
.verified .w20 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-bottom: 3%;
    
}

.verified .v20 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.backgroundimage {
    background-image: url(Images/image1.png);
}
#communication {
    height: 250px;
    float: right;
}
.whywe {
    font-weight: 800;
    font-size: 30px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 13%;
}
.whywe u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
.wehave {
    margin-left: 5%;
    font-size: 15px;
    padding-right: 5%;
    width: 380px;
    font-weight: 400;
    margin-bottom: 10%;
}
.ourcate {
    font-weight: 800;
    text-align: center;
    font-size: 23px;
    margin-bottom: 3%;
}
.ourcate u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
.wegobeyond {
    font-weight: 300;
    width: 450px;
    margin-left: 35%;
    margin-bottom: 3%;
}
.mostp {
    margin-left: 5%;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3%;
}
.mostp u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
#kales {
    height: 200px;
    float: right;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 3%;
}
#tilapia {
    height: 200px;
    float: right;
    margin-left: 5%;
    margin-bottom: 3%;
}
#cereal {
    height: 200px;
    float: right;
    margin-left: 5%;
    margin-bottom: 3%;
}
#carrots {
    height: 200px;
    margin-bottom: 3%;
    margin-left: 5%;
}
#fresh {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2%;
    font-weight: 800;
}
#ca {
    margin-right: 18%;
}
#cr {
    margin-right: 20%;
}
#fu {
    margin-right: 13.5%;
}

#kinyanjui {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#ki {
    margin-left: 2%;
    margin-right: 7.5%;
}
#ke {
    margin-left: 1%;
    margin-right: 12%;
}
#mr {
    margin-right: 19%;
}

#ksh {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2%;
    margin-bottom: 5%;
}
#kg {
    margin-right: 19%;
}
#ba {
    margin-right: 18.5%;
}
#sh {
    margin-right: 17%;
}
#tomato {
    height: 200px;
    float: right;
    margin-right: 3%;   
}
.new {
    margin-left: 5%;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 3%;
}
.new u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
#mursik {
    height: 200px;
    float: right;
    margin-right: 4%
}
#ahero {
    height: 200px;
    float: right;
    margin-right: 4%
}
#chicken {
    height: 200px;
    float: right;
    margin-right: 8%
}
#chichi, #waffle, #sssh {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#chichi {
    margin-top: 17%;
    font-weight: 700;
}
#ch {
    margin-right: 23%;
    margin-left: 2%;
}
#hr {
    margin-right: 16%;
}
#mu {
    margin-right: 19%;
}
#waf {
    margin-left: 2%;
    margin-right: 21%;
}
#her {
    margin-right: 10.5%;
}
#kor {
    margin-right: 11.5%;
}
#sssh {
    margin-bottom: 5%;
}
#kash {
    margin-left: 2.5%;
    margin-right: 22.5%;
}
#bash {
    margin-right: 16.5%;
}
#shsh {
    margin-right: 16%;
}
.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}
#arrow {
    height: 50px;
    width: 500px;
    float: right;
    margin-right: 0%%;
    border-style: groove;
}
.see {
    font-weight: 800;
    font-size: 20px;
    display: inline-block;
    float: right;
    margin-right: 5%;
}
.see u {
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
}
.flexi {
    margin-top: 3%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 5%;
}
.mosteffi {
    margin-left: 5%;
    width: 150px;
}
.theplace {
    width: 150px;
}

.connect {
    margin-right: 24%;
    width: 150px;
}
.wed {
    background-color: black;
    margin-top: 12%;
    height: 100px;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 0.5%;
}
.clear {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tokeep {
     font-weight: 700;
    font-family: inter;
    font-size: 20px;
    margin-bottom: 1%;
}
.scribe {
    margin-bottom: 3%;
    font-weight: 500;
}
.sub {
    display: inline;
    background-color: #ED661F;
    width: 160px;
    text-align: center;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    margin-left: 0%;  
    float: right;
    margin-right: 38%;
}
.ter {
    display: inline;
    margin-right: 0%;
    padding-bottom: 0.77%;
    padding-top: 0.7%;
    font-size: 13px;
    color: black;
    background-color: white;
    text-align: center;
    width: 200px;
    float: right;
}
.parent {
    height: 500px;
    background-color: black;
    color: white;
}
.others {
    font-weight: 600;
    font-size: 25px;
    display: inline-block;
    float: right;
    margin-right: 15%;
    margin-top: 4%;
}
.products {
    display: inline;
    font-size: 25px;
    font-weight: 700;
    float: right;
    margin-top: 4%;
    margin-right: 12%;
}
.company {
    display: inline;
    font-size: 25px;
    font-weight: 700;
    float: right;
    margin-top: 4%;
    margin-right: 12%;
}
.agp {
    display: inline;
    font-size: 40px;
    font-weight: 700;
    float: right;
    margin-top: 3%;
    margin-right: 20%;
}
.faqs {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 18%;
    margin-top: 3%;
}
.dairy {
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
    float: right;
    margin-right: 17%;
    margin-top: 3%;
}
.about {
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
    float: right;
    margin-right: 17%;
    margin-top: 3%;
}
.quality {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    float: right;
    margin-top: 3%;
    margin-right: 18%;
    width: 200px;
    margin-left: 3%;
}
.terms {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
.cc {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 15%;
    margin-top: 2%;
}
.product {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 14%;
    margin-top: 3%;
    margin-left: 20%
}
.privacy {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    
}
.vegetables {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 6.5%;
    margin-top: 2%;
}
.contact {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 13%;
    margin-top: 2%;
}
.iconss {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 26%;
    margin-top: 1.5%;
}
.more {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    float: right;
    margin-right: 36.5%;
    margin-top: 2%;
}
.gettheapp {
    font-weight: 600;
    font-size: 23px;
    display: inline-block;
    margin-right: 36.5%;
    margin-top: 2%;
    margin-left: 2%;
}
#socialmedia {
    width: 100px;
}
#appstore {
    width: 200px;
    margin-top: 2%;
    margin-left: 2%;
}
#fstar {
    width: 300px;
    margin-top: 2%;
    margin-right: 3%;
    
}
#fourstar {
    width: 300px;
    margin-top: 2%;
    margin-right: 6.5%;
    margin-left: 2%;
}
#fistar {
    width: 300px;
    margin-top: 2%;
    margin-left: %;
}
#today {
    background-color: rgb(235, 222, 222);
    height: 10px;
    margin-top: 2%;
    margin-bottom: 3%;
}
.empty {
    margin-left: 5%;
    font-weight: 600;
    font-size: 17px;

} */
